@import "@fontsource/poppins";

* {
      box-sizing: border-box;
  }

.container-width{
    max-width: 2000px;
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    color: #303258;
    font-size: 54px;
}

p{
    color: #464646;
    font-size: 20px;
}

.light_blue_text{
    color: #1875FF;
}

.light_grey_text{
    color: #696984;
}

.dark_blue_text {
    color: #2F327D;
}

.container {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF3E4; 
    padding: 10px 0; 
  }
  
.nav-title,
.nav-simple,
.nav-login,
.nav-sign {
    color: #000; 
    text-decoration: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.nav-title {
    font-size: x-large;
    padding-right: 200px;
    padding-left: 50px;
    font-style: bold;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.nav-simple{
    color: #252641;
}

.nav-simple:hover{
    color: #F4C467; 
}

.nav-login,
.nav-sign {
    border-radius: 20px;
    color: #fff; 
    margin: 0px 0px 0px 20px;
}

.nav-login{
    background-color: #252641; 
}

.nav-sign{
    background-color: #F4C467; 
}

.nav-login:hover{
    color: #F4C467; 
}

.nav-sign:hover{
    color: #252641;
}

.active {
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
    height: 3px;
    background-color: #ffcc00; 
}

.top_page{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFF3E4;
    justify-content:center;
    
}

.top_page button{
    background-color: #F4C467;
    color: white;
    font-size: 20px;
    border-radius: 80px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.top_page button:hover{
    color: #252641;
    transition: all 0.3s ease;
}

.home_top_left{
    text-align: left;
    margin-left: 100px;
}

.home_top_right{
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.home_buttons {
    padding: 14px;
    border: none;
    background-color: #F4C467;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.home_buttons:hover {
    scale: 98%;
    transition: 0.2s;
    cursor: pointer;
}

.founded_by_home{
    padding-top: 50px;
    padding-bottom: 50px;
}

.what_is_pluto_home h1{
    font-size: 32px;
    font-weight: bolder;
}

.what_is_pluto_home p{
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.budget_and_investing_home{
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.budget_and_investing_home h1{
    font-size: 32px;
}

.building_credit_home{
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.building_credit_home h1 {
    font-size: 32px;
    font-weight: bolder;
}

.building_credit_home p {
    font-size: 20px;
    margin-left: 20%;
}

.home_middle_right{
    margin-top: -300px;
    text-align: right;
    margin-right: 100px;
    display: flex;
    margin-bottom: -300px;
}

.learning_home{
    display: flex;
    text-align: left;
    margin-top: -200px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 50px;
}

.learning_home button {
    padding: 14px;
    border: none;
    background-color: #F4C467;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.learning_home button:hover {
    scale: 98%;
    transition: 0.2s;
    cursor: pointer;
}

.learning_home_padding {
    padding-right: 50px;
}