@import "@fontsource/poppins";

* {
      box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    color: #303258;
    font-size: 54px;
}

p{
    color: #464646;
    font-size: 24px;
}

.light_blue_text{
    color: #1875FF;
}

.container {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF3E4; 
    padding: 10px 0; 
  }
  
.nav-title,
.nav-simple,
.nav-login,
.nav-sign {
    color: #000; 
    text-decoration: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.nav-title {
    font-size: x-large;
    padding-right: 200px;
    padding-left: 50px;
    font-style: bold;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.nav-simple{
    color: #252641;
}

.nav-simple:hover{
    color: #F4C467; 
}

.nav-login,
.nav-sign {
    border-radius: 20px;
    color: #fff; 
    margin: 0px 0px 0px 20px;
}

.nav-login{
    background-color: #252641; 
}

.nav-sign{
    background-color: #F4C467; 
}

.nav-login:hover{
    color: #F4C467; 
}

.nav-sign:hover{
    color: #252641;
}

.active {
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
    height: 3px;
    background-color: #ffcc00; 
}

.top_page{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFF3E4;
    justify-content:center;
    
}

.top_page button{
    background-color: #F4C467;
    color: white;
    font-size: 20px;
    border-radius: 80px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.top_page button:hover{
    color: #252641;
    transition: all 0.3s ease;
}


.home_top_left{
    text-align: left;
    margin-left: 100px;
}

.home_top_right{
    text-align: right;
    margin-left: 20px;
    margin-right: 20px
}

